<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vidit.movienary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/startup_icon_round"
        android:label="ShowBuzz"
        android:roundIcon="@mipmap/startup_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReviewsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ImageActivity"
            android:theme="@style/ImageTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TvShowsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TvShowDetailsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActorDetailsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WatchListActivity"
            android:label="Watchlist"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".YoutubeActivity"
            android:theme="@style/ImageTheme" />

        <activity android:name=".SplashScreenActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShowtimesActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>